/*************TAG SELECTORS*********/

h1{
  color:red
  font-size:200px
}


img:hover {
  background-color: blue;
}



/*************CLASS SELECTORS*********/

.hey{
  background-color: green
}

.hi{
  background-color: red
}

/*************ID SELECTORS*********/

#heading{
  color: blue
}
